@charset 'UTF-8';
@import './_reset.scss';

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500;600&display=fallback');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('https://example.com/MaterialIcons-Regular.eot'); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
  // url('https://example.com/MaterialIcons-Regular.woff2') format('woff2'),
  // url('https://example.com/MaterialIcons-Regular.woff') format('woff'),
  // url('https://example.com/MaterialIcons-Regular.ttf') format('truetype');
}

html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: 16px;
  font-family: 'Noto Sans TC', '微軟正黑體', 'Microsoft JhengHei', sans-serif, arial;
  color: #333333;
  background-color: #333333;
  line-height: 1.6em;
  letter-spacing: 1px;
  -webkit-overflow-scrolling: touch;
  -o-overflow-scrolling: touch;
}

#__nuxt {
  width: 100%;
  max-width: 480px;
  height: 100%;
  margin: auto;
  overflow: hidden;
  background-color: #6DC492;
}

#__layout {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.before-font-material::before,
.after-font-material::after {
  font-size: 24px;
  font-family: 'Material Icons', sans-serif;
  font-weight: normal;
  white-space: nowrap;
  font-style: normal;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;

  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}